*{
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    font-family:'Mukta', sans-serif;
    color: black;
}
.contact{
    font-size: small;
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: space-evenly;
    background-color: rgb(205, 205, 205);
}
.main-section{
    display: inline-block;
    font-size: large;
    color: black;
}
.container{
    width: 70%;
    display: flex;
    margin-left: 200px;
    color: black;
    
}

.nav-bar ul {
    font-family:'Mukta', sans-serif;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    margin-left: 200px;
    border-radius: 10%;
}
.logo{
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
    justify-items: flex-end;
}
.nav-bar ul li a {
   display: inline-block;
   padding: 8px 16px;
   text-decoration: none;
}
.nav-bar ul li {
    list-style-type: none;
}
.nav-bar ul li a:hover{
    background-color: rgb(169, 214, 248);
    border-radius: 20px;
}

/* ===================SEARCHBAR SECTION================= */

.searchbar{
    display: flex;
    background-color: rgb(12, 156, 22);
    padding: 10px;
}


h4{
    margin-left: 400px;
    display: flex;
    background-color: yellow;
}
.placeholder{
    display: flex;
    align-items: center;
    margin-left: 350px;
    justify-content: center;
}
.material-symbols-outlined{
    margin-left: 100px;
}

/* ===============================BODY SECTION===================== */

.main-text{
    width: 100%;
    height: 600px;
    position: relative;
    background-size: cover;
    background-image: url(org.jpg);

}
.text{
    position: absolute;
    width: 100%;
    top: 45%;
    left: 35%;
    align-items: center;
    color: white;
    font-size: xx-large;

}
.fresh-food{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fivepics{
    display: flex;
}
.card1{
    padding: 20px;
}
.names{
    margin-top: 10px;
    text-align: center;
}

/* =================section-wrapper========================== */
.section-wrapper{
    margin-top: 100px;
    display: flex;
}
.FOOD{
    margin-left: 25px;
}
.aside{
    margin-left: 100px;
    width: 100px;
    height: 250px;
    flex: 1;
}
.aside ul{
    padding: 16px;

}
.aside ul li a{
    padding: 10px;
    display: inline-block;
    }
    .aside ul li a:hover{
        background-color: lightgrey;
        border-radius: 10%;
        
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }

.right{
    justify-content: space-around;
    display: flex;
    margin-right: 100px;
    width: 100px;
    height: 250px;
    flex: 5;
}
h5{
    margin-top: 20px;
}
.png1 img{
    width: 200px;
    height: 250px;
}
.mid{
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 300px;
}
.long{
    width: 60%;
    height: 280px;
    background-image: url(40%.png)
    
}
.small{
    width: 40%;
    height: 280px;
}
/* ============================last part======================== */

.last{
    margin-top: 200px;
    background-color: rgb(13, 91, 13);
    width: 100%;
    height: 100px;
}
.last {
    padding: 80px;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    color: rgb(249, 249, 255);
}
.sahil{
    text-align: center;
    background-color: rgb(63, 153, 232);
}